In [1]:
import pandas as pd

In [4]:
yolo = pd.DataFrame({"a":[3, 4], "b":[5, 7]})

In [9]:
a = type(yolo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
a    2 non-null int64
b    2 non-null int64
dtypes: int64(2)
memory usage: 112.0 bytes

In [12]:
a
import io
buf = io.StringIO()
yolo.info(buf=buf)
s = buf.getvalue()

In [13]:
s

"<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 2 entries, 0 to 1\nData columns (total 2 columns):\na    2 non-null int64\nb    2 non-null int64\ndtypes: int64(2)\nmemory usage: 112.0 bytes\n"

In [39]:
dict_df = {"Feature":[], "Non NA":[], "Type":[]}
for line in s.split("\n")[3:-3]:
    dict_df["Feature"].append(line.split("    ")[0])
    dict_df["Non NA"].append(line.split("    ")[1].split(" ")[0])
    dict_df["Type"].append(line.split("    ")[1].split(" ")[2])
df = pd.DataFrame(dict_df)

In [43]:
display(df)
2

  Feature Non NA   Type
0       a      2  int64
1       b      2  int64

2

In [42]:
from IPython.display import display

In [49]:
df.describe()

       Feature Non NA   Type
count        2      2      2
unique       2      1      1
top          a      2  int64
freq         1      2      2