In [1]:
import pandas as pd

In [66]:
yolo = pd.DataFrame({"a":[3, 4,7,7,8,8], "b":[5., 7., 8.,9.,9., 9.], "fa":[5., 7., 8.,9.,9., 9.], "bd":[5., 7., 8.,9.,9., 9.], "asdf":[5., 7., 8.,9.,9., 9.], "sdfsdfb":[5., 7., 8.,9.,9., 9.]})

In [9]:
a = type(yolo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
a    2 non-null int64
b    2 non-null int64
dtypes: int64(2)
memory usage: 112.0 bytes

In [12]:
a
import io
buf = io.StringIO()
yolo.info(buf=buf)
s = buf.getvalue()

In [13]:
s

"<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 2 entries, 0 to 1\nData columns (total 2 columns):\na    2 non-null int64\nb    2 non-null int64\ndtypes: int64(2)\nmemory usage: 112.0 bytes\n"

In [39]:
dict_df = {"Feature":[], "Non NA":[], "Type":[]}
for line in s.split("\n")[3:-3]:
    dict_df["Feature"].append(line.split("    ")[0])
    dict_df["Non NA"].append(line.split("    ")[1].split(" ")[0])
    dict_df["Type"].append(line.split("    ")[1].split(" ")[2])
df = pd.DataFrame(dict_df)

In [43]:
display(df)
2

  Feature Non NA   Type
0       a      2  int64
1       b      2  int64

2

In [42]:
from IPython.display import display

In [49]:
df.describe()

       Feature Non NA   Type
count        2      2      2
unique       2      1      1
top          a      2  int64
freq         1      2      2

In [11]:
!jt -t grade3 -tf merriserif -tfs 15 -nf ptsans -nfs 15 -T -N -cellw 100%

In [67]:
from nekoma import Nekoma

In [75]:
myy = Nekoma(method="df", df=yolo, target="b",test_ratio=0.1)

In [76]:
myy.desc()

There are no object columns

              a      asdf         b        bd        fa   sdfsdfb
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   6.166667  7.833333  7.833333  7.833333  7.833333  7.833333
std    2.136976  1.602082  1.602082  1.602082  1.602082  1.602082
min    3.000000  5.000000  5.000000  5.000000  5.000000  5.000000
25%    4.750000  7.250000  7.250000  7.250000  7.250000  7.250000
50%    7.000000  8.500000  8.500000  8.500000  8.500000  8.500000
75%    7.750000  9.000000  9.000000  9.000000  9.000000  9.000000
max    8.000000  9.000000  9.000000  9.000000  9.000000  9.000000

In [70]:
myy.train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 4 to 5
Data columns (total 6 columns):
a          4 non-null int64
asdf       4 non-null float64
b          4 non-null float64
bd         4 non-null float64
fa         4 non-null float64
sdfsdfb    4 non-null float64
dtypes: float64(5), int64(1)
memory usage: 224.0 bytes

In [77]:
def headd(df, num_rows=5, max_columns=3):
    if len(list(df)) / max_columns > 1:
        for i in range(len(list(df)) / max_columns):
            print i
            display(df.iloc[0:num_rows, i*max_columns:max_columns*(i+1)])
    else:
        display(df.head(num_rows))

In [79]:
headd(myy.train_set, num_rows=3)

0

   a  asdf    b
2  7   8.0  8.0
1  4   7.0  7.0
4  8   9.0  9.0

1

    bd   fa  sdfsdfb
2  8.0  8.0      8.0
1  7.0  7.0      7.0
4  9.0  9.0      9.0